.vscode/
SignedModules/**/*.psm1
SignedModules/**/*.ps1
SignedModules/**/*.psd1
Resources/LocalStorageTest.json
Resources/ProjectNotes.txt
Test-Script.ps1
*.db
*.xml
*.cip
*.p7
!Resources/AllowAll.xml
!Resources/DenyAllAudit.xml