.vscode/
SignedModules/**/*.psm1
SignedModules/**/*.ps1
SignedModules/**/*.psd1
Resources/LocalStorageTest.json
Resources/ProjectNotes.txt
Resources/cipolicy.xsd
.WDACFrameworkData/*.xml
.WDACFrameworkData/*.md
Test-Script.ps1
*.db
*.xml
*.cip
*.p7
*.db-journal
*.cer
*.exe
!Resources/AllowAll.xml
!Resources/DenyAllAudit.xml
!Resources/SupplementalShell.xml
!Resources/AllowedSigner_Placeholder_Driver.xml
!Resources/AllowedSigner_Placeholder_UserMode.xml
!Resources/DeniedSigner_Placeholder_Driver.xml
!Resources/DeniedSigner_Placeholder_UserMode.xml